<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="/usuario/home">
    <h1>Formulario</h1>

    <input type="text" name="nome" placeholder="Informe Nome">

    <div><input type="text" name="cpf" placeholder="Informe CPF"></div>

    <div><input type="text" name="Login" placeholder="Informe o Login"></div>

    <div><input type="text" name="senha" placeholder="Informe a Senha"></div>

    <button onclick="adicionar">Adicionar</button>
</form>
</body>
</html>