<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="POST" action="/livro/home">
  <h1>Formulario</h1>

  <input type="text" name="titulo" placeholder="Informe o Titulo">

  <div><input type="text" name="autor" placeholder="Informe o Autor"></div>

  <div><input type="text" name="data" placeholder="Informe a Data de publicação"></div>

  <div><input type="text" name="editora" placeholder="Informe a Editora"></div>

  <button onclick="adicionar">Adicionar</button>
</form>
</body>
</html>